# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
c-sdk-demo/Debug/
c-sdk-demo/Release/
c-sdk-demo.VC
.vs/c-sdk-demo/v14/.suo
Debug/c-sdk-demo.ilk
Debug/c-sdk-demo.pdb
c-sdk-demo.VC.VC.opendb
c-sdk-demo.VC.db
